* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    color-scheme: dark;
    --font-small: 1.6rem;
    --font-text: 1.8rem;

    --font-heading-big: 4rem;
    --font-heading: 2.4rem;
    --font-heading-small: 2rem;
    --font-header: 3rem;
}

html {
    font-size: 62.5%;

    scroll-behavior: smooth;
}

body {
    font-family: 'JetBrains Mono', Arial;
    // font-family: 'Inter', Arial;

    background: $gray-100;
    color: $gray-900;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}