$gray-100: #131313;
$gray-150: #141414;
$gray-200: #171717;
$gray-250: #181818;
$gray-300: #1C1C1C;
$gray-350: #202020;
$gray-400: #242424;

$gray-800: #B3B3B3;
$gray-900: #FEFDF9;

$dark-gradient: linear-gradient(180deg, $gray-200 0%, $gray-250 100%);
$light-gradient: linear-gradient(180deg, $gray-250 0%, $gray-200 100%);

$green: #36FF8B;
$blue: #3772ff;
$blue-trans: #3773ff40;

$orange: #fa9f42;
$orange-trans: #fa9f4240;

$pink: #ff1654;
$pink-trans: #ff165440;

$breakpoint-lg: 720px;
$breakpoint-md: 500px;
$breakpoint-sm: 420px;