---
import Brand from "../components/Brand.astro";
import Footer from "../components/Footer.astro";
import Container from "../components/home/Container.astro";
import Section from "../components/home/Section.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Home">
    <main>
        <h1>helgesson<span>.dev</span></h1>

        <Section title="Main Content">
            <Container pre="./" main="blog" href="./blog">
                Keep up with what I'm up to in more detailed blogposts
            </Container>
            <Container pre="./" main="notes" href="./notes">
                Shorter articles focusing more on facts and cool stuff
            </Container>
        </Section>

        <Section title="Sites & Services">
            <Container
                main="jakobhelgesson"
                post=".com"
                href="https://jakobhelgesson.com"
            >
                My main portfolio and contact website
            </Container>
            <Container
                pre="bin."
                main="helgesson.dev"
                href="https://bin.helgesson.dev"
            >
                Pastebin like service hosted by myself
            </Container>
            <Container
                pre="brand."
                main="helgesson.dev"
                href="https://brand.helgesson.dev"
            >
                Resources I associate with myself and my brand
            </Container>
            <Container
                main="jakobhelgesson"
                post=".com"
                href="https://jakobhelgesson.com"
            >
                My main portfolio and contact website
            </Container>
            <Container
                pre="bin."
                main="helgesson.dev"
                href="https://bin.helgesson.dev"
            >
                Pastebin like service hosted by myself
            </Container>
            <Container
                pre="brand."
                main="helgesson.dev"
                href="https://brand.helgesson.dev"
            >
                Resources I associate with myself and my brand
            </Container>
        </Section>
    </main>
    <Footer />
</BaseLayout>

<style lang="scss">
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4rem;

        padding-top: 5rem;

        width: calc(100% - 4rem);
        max-width: 140rem;
        margin-inline: auto;
    }

    h1 {
        font-size: 4.8rem;
        font-weight: 500;

        span {
            color: $green;
        }

        @media (max-width: 600px) {
            font-size: 3.2rem;
        }
    }
</style>
