---
export interface Props {
    type: 'warning' | 'note' | 'caution';
}

const props = Astro.props as Props;

const type = props.type ?? 'note';
---

<aside class={type}>
    <p class="title">{type.toUpperCase()}</p>
    <slot />
</aside>

<style lang="scss">
    aside {
        border-radius: 0.5rem;

        width: fit-content;
        max-width: 100%;

        padding: 2rem 2.5rem;

        display: flex;
        flex-direction: column;
        gap: 1rem;

        p.title {
            margin-top: 0;

            font-weight: 600;
            font-size: var(--font-text);
        }

        &.caution {
            // border: 0.4rem solid #fc9919;
            border-left: 0.6rem solid $pink;

            background: $pink-trans;

            p.title {
                color: $pink;
            }
        }

        &.warning {
            // border: 0.4rem solid #fc9919;
            border-left: 0.6rem solid $orange;

            background: $orange-trans;

            p.title {
                color: $orange;
            }
        }

        &.note {
            // border: 0.4rem solid #fc9919;
            border-left: 0.6rem solid $blue;

            background: $blue-trans;

            p.title {
                color: $blue;
            }
        }
    }
</style>