---
import Footer from "../components/Footer.astro";
import BaseLayout from "./BaseLayout.astro";

export interface Props {
    title: string;
    description?: string;
}
const { title, description } = Astro.props as Props;
---

<BaseLayout title={title} description={description}>
    <header>
        <h1>
            <a href="/">helgesson.dev</a><a href="/blog"><span>/blog</span></a>
        </h1>
    </header>
    <main>
        <slot />
    </main>
    <Footer />
</BaseLayout>

<style lang="scss">
    header {
        padding-top: 4rem;
        h1 {
            font-size: 2.4rem;
            font-weight: 500;
            text-align: center;

            span {
                color: $green;
            }

            a {
                display: inline-block;
                transition: all 0.2s ease-in-out;

                &:hover:nth-child(1) {
                    transform: scale(1.1);
                    transform-origin: right;
                }

                &:hover:nth-child(2) {
                    transform: scale(1.1);
                    transform-origin: left;
                }
            }

            @media (max-width: 600px) {
                font-size: 3.2rem;
            }
        }
    }

    main {
        width: calc(100% - 4rem);
        max-width: 85rem;
        margin-inline: auto;
        margin-top: 3rem;
        margin-bottom: 6rem;
    }
</style>
